* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  color: #0a162b;
  margin: 0;
  text-align: center;
  padding: 2rem 1rem;
}

.badge {
  margin: 0 auto;
  width: 10rem;
}

.job-link-heading {
  font-size: 1rem;
  font-weight: normal;
}

.job-links {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.first-row > .job-link {
  width: 5rem;
}

.second-row > .job-link {
  width: 7rem;
}

.job-link > a {
  font-weight: bold;
  color: #0a162b;
}

.find-degree {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 1.5rem 0;
}

.find-degree-heading {
  font-size: 1.3rem;
  margin: 1rem 0 0;
}

.find-degree-subheading {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 0.2rem 0 0.8rem;
}

.level {
  width: 90%;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.search-button {
  text-transform: uppercase;
  width: 90%;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  border-radius: 30px;
  background: linear-gradient(#ffc428, #ffda36);
  margin: 0.6rem;
  padding: 1rem 0;
}
